.portfolio-edit-select {
    position: relative;
    width: 100%;
}

.portfolio-edit-select__container {
    position: relative;
    width: 100%;
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-edit-select__group {
    width: 20%;
    max-width: 20%;
    margin-bottom: 20px;
    h6 {
        border-bottom: 1px solid $gray-500;
        width: 90%;
    }
}

// .portfolio-edit-select__group:last-child {
//     margin-right: auto;
// }