.header {
    width: 100%;
    margin-bottom: 2rem;
    height: 75px;
    max-height: 75px;
    position: relative;
    float: left;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    text-decoration: none;
    color: white;
    h1 {
        margin: 0;
    }
}

.header_links {
    display: flex;
    a {
        margin: 5px;
    }
}