.dashboard-title {
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    text-align: right;
}

.admin-page-title {
    margin-bottom: 20px;
}

.admin-page-subtitle {
    margin-top: 20px;
}

.btn-img-uploader {
    &:hover {
        text-decoration: underline;
    }
}