.venti {
    height: 35vh!important;
}

.grande {
    height: 15vh!important;
}

.port-cat-selects {
    height: 25vh;
    overflow-y: scroll;
}

.preview-img {
    width: 100%;
    height: auto;
}

.aux-img-list-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aux-img-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.aux-img-list-item:nth-child(odd) {
    background-color: darken($gray-400, 5%);
}

.aux-img,
.aux-img img {
    width: 50px;
    height: 50px;
}

.aux-img-btns {
    align-self: center;
}

.portfolio-preview-img {
    position: relative;
}

.portfolio-imgs .nav-tabs .nav-link.active,
.nav-pills .nav-link.active {
    border: none!important
}

.portfolio-imgs .nav-tabs {
    border-bottom: none!important;
}