$hidden-z: -1;
$container-z: 101;
$wrapper-z: 102;
$overlay-z: 100;
$arrow-z: 150;
$vis-opacity: 0.9;
.prim-container {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $hidden-z;
}

.prim-container--active-enter {
    z-index: $container-z;
}

.prim-container--active {
    z-index: $container-z;
}

.prim-container--active-exit {
    z-index: $container-z;
}

.prim-container--hidden {
    z-index: $hidden-z;
}

.prim-content-wrapper {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    z-index: $wrapper-z;
    @media screen and (max-width: $sm-breakpoint) {
        .container, .row, .col {
            padding: 0;
            margin: 0;
        }
    }
}

.prim-content-wrapper--active-enter {
    opacity: 1;
}

.prim-content-wrapper--active {
    opacity: 1;
}

.prim-content-wrapper--active-exit {
    opacity: 0;
}

// .prim-content-wrapper-hidden {
// }
.prim-overlay {
    background-color: $black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    z-index: $overlay-z;
}

.prim-overlay--active {
    opacity: $vis-opacity
}

.prim-overlay--active-enter {
    opacity: $vis-opacity
}

.prim-overlay--active-exit {
    opacity: 0;
}

// .prim-overlay--hidden {
//     z-index: $hidden-z;
// }
.prim-content {
    width: 100%;
    position: relative;
}

.prim-slider-outer {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0 auto;
    padding-top: 150%;
    overflow: hidden;
    @media screen and (min-width: $lg-breakpoint) {
        width: 90%;
        padding-top: 75%;
    }
}

.prim-slider-inner {
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 10vh;
    @media screen and (min-width: $lg-breakpoint) {
        margin-top: 5vh;
    }
    .slick-slider {
        border-bottom: 1px solid $gray-500;
        border-right: 1px solid $gray-500;
        border-left: 1px solid $gray-500;
    }
    .slick-slide {
        padding: 0px;
        @media screen and (min-width: $lg-breakpoint) {
            padding: 20px;
        }
        background-color: $black;
        img {
            transform: all 0.5s ease-in;
        }
    }
    .slick-slide:not(.slick-current) img {
        opacity: 0.3;
    }
    .slick-slide.slick-current img {
        opacity: 1.0;
    }
}

.prim-infobox {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    background: $black;
    border-left: 1px solid $black;
    z-index: 10;
    top: 0;
    padding: 15px 0;
    border-bottom: 1px solid $gray-500;
}

.prim-infobox__project-title {
    float: left;
}

.prim-infobox__buttons {
    float: right;
    align-self: flex-end;
}

.prim-scroller {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.prim-scroller-inner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.prim-scroller-img {
    width: 100%;
    position: relative;
    float: left;
    img {
        width: 100%;
        height: auto;
    }
}