.show-for-mobile {
    @media(min-width: $desktop-breakpoint) {
        display: none;
    }
}

.show-for-desktop {
    @media(max-width: $desktop-breakpoint - 0.1rem) {
        display: none;
    }
}

.doc-fader {
    opacity: 1.0;
    transition: all 0.5s ease-in-out;
}

.doc-fader__fadeout {
    opacity: 0;
}

.doc-fader__fadein {
    opacity: 1.0
}