// Bootstrap breakpoints
$xs-breakpoint: 576px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$device-xs: (max-width: $xs-breakpoint);
$device-sm: (min-width: $sm-breakpoint);
$device-md: (min-width: $md-breakpoint);
$device-lg: (min-width: $lg-breakpoint);
$device-xl: (min-width: $xl-breakpoint);
//
// colors
//
$dark-gray: #333333;
$gray: #666;
$med-gray: #888;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
//
// font-sizes:
//
$font-size-lg: 1.8rem;
$font-size-sm: 1.4rem;
//
// sizing/spacing
//
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
//
// media queries
//
$desktop-breakpoint: 45rem;
//
// backgrounds
//
.bg-white {
    background: $off-white;
}

.shell {
    min-height: 90vh;
    position: relative;
    width: 100%;
    float: left;
}

.portfolio-slider-arrow.slick-arrow.slick-prev,
.portfolio-slider-arrow.slick-arrow.slick-next {
    width: 2.0rem;
    height: 4.0rem;
    color: $gray-600;
    transition: all 300ms ease-in;
    &:hover {
        color: #fff;
    }
    svg {
        width: 2.0rem;
        height: 4.0rem;
    }
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

label.btn {
    cursor: pointer;
}